<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.charge.dao.impl.ISfMjjsTMapper">
  
  <select id="find" resultMap="com.charge.dao.SfMjjsTMapper.BaseResultMap">
  	select * 
  	from sf_mjjs_t
  	<where>
  		<if test="areaId != null">
  			and area_id = #{areaId}
  		</if>
  		<if test="cnq != null">
  			and cnq = #{cnq}
  		</if>
  	</where>
  </select>
</mapper>