<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.customer.dao.AreaMapper">
  <resultMap id="BaseResultMap" type="com.customer.bean.Area">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sfmj" jdbcType="DECIMAL" property="sfmj" />
    <result column="zdmj" jdbcType="DECIMAL" property="zdmj" />
    <result column="cg" jdbcType="DECIMAL" property="cg" />
    <result column="customer_id" jdbcType="BIGINT" property="customerId" />
    <result column="mjlb" jdbcType="VARCHAR" property="mjlb" />
    <result column="djlb" jdbcType="VARCHAR" property="djlb" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from area
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.customer.bean.Area">
    insert into area (id, name, sfmj, 
      zdmj, cg, customer_id, 
      mjlb, djlb)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{sfmj,jdbcType=DECIMAL}, 
      #{zdmj,jdbcType=DECIMAL}, #{cg,jdbcType=DECIMAL}, #{customerId,jdbcType=BIGINT}, 
      #{mjlb,jdbcType=VARCHAR}, #{djlb,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.customer.bean.Area">
    update area
    set name = #{name,jdbcType=VARCHAR},
      sfmj = #{sfmj,jdbcType=DECIMAL},
      zdmj = #{zdmj,jdbcType=DECIMAL},
      cg = #{cg,jdbcType=DECIMAL},
      customer_id = #{customerId,jdbcType=BIGINT},
      mjlb = #{mjlb,jdbcType=VARCHAR},
      djlb = #{djlb,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, name, sfmj, zdmj, cg, customer_id, mjlb, djlb
    from area
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, sfmj, zdmj, cg, customer_id, mjlb, djlb
    from area
  </select>
</mapper>