<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.product.sysrole.dao.ISysRoleMapper">
  <select id="selectList" resultMap="com.product.sysrole.dao.SysRoleMapper.BaseResultMap" parameterType="com.product.sysrole.bean.SysRole">
    select id, name
    from sys_role
    <where>
    	1 = 1
    	<if test="name != null">
    		and name = #{name}
    	</if>
    </where>
  </select>
  
  <select id="findSysRolesByUserId" resultMap="com.product.sysrole.dao.SysRoleMapper.BaseResultMap" parameterType="java.lang.Long">
    select id, name
    from sys_role r
    <where>
    	1 = 1
    	and r.id in (
    			select role_id
    			from sys_user_role ur
    			where ur.user_id = #{id}
    		)
    </where>
  </select>
  
  <select id="findSysUserRoles" resultType="com.product.sysrole.bean.SysUserRole" parameterType="com.product.sysrole.bean.SysUserRole">
  	select 
		id,
		role_id as roleId,
		user_id as userId
  	from sys_user_role
  	<where>
  		<if test="id != null">id=#{id)</if>
  		<if test="roleId != null">role_id=#{roleId}</if>
  		<if test="userId != null">user_id=#{userId}</if>
  	</where>
  </select>
  
  <insert id="insertSysRoleMenu" parameterType="com.product.sysrole.bean.SysRoleMenu">
  	insert into sys_role_menu(id, role_id, menu_id) values(#{id}, #{roleId}, #{menuId})
  </insert>
  
  <insert id="insertSysUserRole" parameterType="com.product.sysrole.bean.SysUserRole">
  	insert into sys_user_role(id, role_id, user_id) values(#{id}, #{roleId}, #{userId})
  </insert>
  
  <delete id="deleteSysRoleMenuByRoleId" parameterType="java.lang.Long">
  	delete from sys_role_menu where role_id = #{id}
  </delete>
  
  <delete id="deleteSysRoleMenuByMenuId" parameterType="java.lang.Long">
  	delete from sys_role_menu where menu_id = #{id}
  </delete>
  
  <delete id="deleteSysUserRoleByUserId" parameterType="java.lang.Long">
  	delete from sys_user_role where user_id = #{userId}
  </delete>
</mapper>