<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.product.sysmenu.dao.ISysMenuMapper">
  
  <select id="selectList" resultMap="BaseResultMap" parameterType="com.product.sysmenu.bean.SysMenuDTO">
    select id, name, icon, parent_id, url, remark, type
    from sys_menu
    <where>
    	1 = 1
    	<if test="sysMenu!=null &amp;&amp; sysMenu.parentId != null">
    		and parent_id = #{sysMenu.parentId}
    	</if>
    	<if test="userId != null">
    		and id in (
				SELECT rm.menu_id 
				from sys_user_role ur
				INNER JOIN sys_role r
				ON ur.role_id = r.id
				INNER JOIN sys_role_menu rm
				ON r.id = rm.role_id
				where ur.user_id = 0
    		)
    	</if>
    </where>
  </select>
  
  <select id="menuItems" resultMap="BaseResultMap">
  	select * 
  	from sys_menu
  	where parent_id = #{id}
  </select>
</mapper>